<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>{% block title %}Cosmetica{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block body %}
    {% block header %}
        <div style="height: 80px; background-color: #000;">
            <a class="site_logo" href="/">
                <img src="https://www.cosmeticapaspoort.nl/themes/theme/img/cosmeticapaspoort.png">
            </a>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
