{% extends 'base.html.twig' %}

{% block content %}

    <div style="padding: 20px;">
        <div id="student_index">
            <div class="student" style="background-color: rgb(172, 146, 109);padding: 15px 30px; width: 40%;margin-bottom: 20px;">
                <a href="/app_dev.php/user-register" style="color:white;font-size: 14px;">Papieren cosmeticapaspoort digitaal maken</a>
            </div>
            <div class="student" style="background-color: rgb(172, 146, 109);padding: 15px 30px; width: 40%;margin-bottom: 20px;">
                <a href="/app_dev.php/trainer-register" style="color:white;font-size: 14px;">Digitaal cosmeticapaspoort aanvragen</a>
            </div>
            <div class="student" style="background-color: rgb(172, 146, 109);padding: 15px 30px; width: 40%;margin-bottom: 20px;">
                <a href="/our-cars" style="color:white;font-size: 14px;">Inloggen op digitaal paspoort</a>
            </div>
        </div>
    </div>

{% endblock %}